.items{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px 0px;
}
.itemMain{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.itemMain svg{
    font-size: 20px;
}