.content {
  height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
  background-color: #DAE5F5;
}
.footer {
  background-color: #bed1cf;
  height: 143px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;

}
.content ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;



}
.ItemBox { 
  background-color: white;
  width: 90%;
  margin: 20px;
  border-radius: 10px;


}

.content ul div li{
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  
}
/* .content ul div p{

 
} */

.dateTime{
  text-align: right;
  font-size: 13px;
  padding: 15px;
  margin-right: 10px;
}
.delete{
  text-align: right;
  margin: 0;
  padding: 10px;
  text-align: right;
}